@{
    Layout = "_Layout.cshtml";
    ViewBag.Icon = "pencil";
    ViewBag.Title = "添加文章";
}
@section script{
    <link href="~/public/editormd/css/editormd.min.css" rel="stylesheet" />

    <style type="text/css">
        .tab-content {
            min-height: 400px;
        }

        #tab2, body #content div.radio.radio-transparent input[type=radio]:checked + label, body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio]:checked + label, body #content div.radio.radio-transparent label, body #content .modal .modal-dialog .modal-content div.radio.radio-transparent label {
            color: #000;
        }

        .layui-layer-setwin a {
            display: none;
        }


        div.tagsinput {
            border: 1px solid #CCC;
            background: #FFF;
            padding: 5px;
            width: 300px;
            height: 100px;
            overflow-y: auto;
        }

            div.tagsinput span.tag {
                border: 1px solid #a5d24a;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                display: block;
                float: left;
                padding: 5px;
                text-decoration: none;
                background: #cde69c;
                color: #638421;
                margin-right: 5px;
                margin-bottom: 5px;
                font-family: helvetica;
                font-size: 13px;
            }

                div.tagsinput span.tag a {
                    font-weight: bold;
                    color: #82ad2b;
                    text-decoration: none;
                    font-size: 11px;
                }

            div.tagsinput input {
                width: 80px;
                margin: 0px;
                font-family: helvetica;
                font-size: 13px;
                border: 1px solid transparent;
                padding: 5px;
                background: transparent;
                color: #000;
                outline: 0px;
                margin-right: 5px;
                margin-bottom: 5px;
            }

            div.tagsinput div {
                display: block;
                float: left;
            }

        .tags_clear {
            clear: both;
            width: 100%;
            height: 0px;
        }
    </style>
    <script src="~/public/editormd/lib/marked.min.js"></script>
    <script src="~/public/editormd/lib/prettify.min.js"></script>

    <script src="~/public/editormd/lib/underscore.min.js"></script>
    <script src="~/public/editormd/lib/sequence-diagram.min.js"></script>
    <script src="~/public/editormd/lib/flowchart.min.js"></script>
    <script src="~/public/editormd/lib/jquery.flowchart.min.js"></script>
    <script type="text/javascript">
        seajs.use("article");
    </script>
}
<div class="row">
    <section id="rootwizard" class="tabbable transparent tile">

        <!-- /tile header -->
        <!-- tile widget -->
        <div class="tile-widget nopadding color transparent-black rounded-top-corners">
            <ul class="nav nav-tabs tabdrop">
                <li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-th-list"></i> <span class="badge"></span></a><ul class="dropdown-menu"></ul></li>
                <li class="active"><a href="#tab1" data-toggle="tab">文章内容</a></li>
                <li><a href="#tab2" data-toggle="tab">其他设置</a></li>
            </ul>
        </div>
        <!-- /tile widget -->
        <!-- tile body -->
        <div class="tile-body">
            <form class="form-horizontal form1" id="addForm" role="form" parsley-validate="">
                <div class="tab-content">

                    <div class="tab-pane active" id="tab1">

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">标题 *</label>
                            <div class="col-sm-10">
                                <input id="title" name="title" type="text" class="form-control parsley-validated"   placeholder="请输入文章标题" data-bind="value:title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label">别名 *</label>
                            <div class="col-sm-10">
                                <input id="alias" name="alias" type="text" class="form-control parsley-validated"   placeholder="请输入文章别名" data-bind="value:alias">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="categoryId" class="col-sm-2 control-label">分类 *</label>
                            <div class="col-sm-10">
                                <select id="categoryId" name="categoryId" class="chosen-select chosen-transparent form-control" data-bind="options:categorySource,optionsText:'name',optionsValue:'id',value:categoryId,optionsCaption:'请选择文章分类'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="keyWord" class="col-sm-2 control-label">关键字 *</label>
                            <div class="col-sm-10">
                                <input id="keyWord" name="keyWord" type="text" class="form-control parsley-validated"   placeholder="请输入页面关键字" data-bind="value:keyWord">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">描述 *</label>
                            <div class="col-sm-10">
                                <textarea id="Description" name="Description" class="form-control" rows="3" placeholder="请输入页面描述" data-bind="value:description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tags" class="col-sm-2 control-label">标签</label>
                            <div class="col-sm-10">
                                <textarea id="tags" name="tags" class="form-control" rows="3" placeholder="请输入你的文章标签"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="comment" class="col-sm-2 control-label">允许评论 *</label>
                            <div class="col-sm-10">
                                <div class="onoffswitch greensea">
                                    <input type="checkbox" name="comment" class="onoffswitch-checkbox" id="comment" data-bind="checked:comment">
                                    <label class="onoffswitch-label" for="comment">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab2">
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">内容(MarkDown) *</label>
                            <div class="col-sm-10">
                                <textarea id="Content" name="content" class="form-control" rows="20" placeholder="请输入文章内容" data-bind="value:content"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="action" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary btn-xs margin-bottom-20" data-bind="click:events.showEditor">使用编辑器</button>
                                <button type="button" class="btn btn-primary btn-xs margin-bottom-20">提取标签</button>
                                <button type="button" class="btn btn-primary btn-xs margin-bottom-20" data-bind="click:events.extractDescription">提取描述</button>

                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <!-- /tile body -->
        <div class="hide">
            <div id="markdown"></div>
        </div>
        <!-- tile footer -->
        <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="button" class="btn btn-primary" value="保存数据" data-bind="click:events.submitForm" />
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
        <!-- /tile footer -->
    </section>


</div>