<!DOCTYPE html>
<html>
<head>
    <title>Minimal 1.0 - Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <!-- Bootstrap -->
    <link href="~/public/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://libs.useso.com/js/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/public/assets/css/vendor/bootstrap-checkbox.css">

    <link href="~/public/assets/css/minimal.css" rel="stylesheet">
    <link href="~/public/js/modules/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/public/js/modules/layer/skin/layer.ext.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/public/sea-debug.js"></script>
</head>
<body class="bg-1">


    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Page content -->
            <div id="content" class="col-md-12 full-page login">


                <div class="inside-block">
                    <img src="/public/assets/images/logo-big.png" alt class="logo">
                    <h1><strong>Welcome</strong> Stranger</h1>
                    <h5>Minimal Admin Theme</h5>

                    <form id="form-signin" class="form-signin" method="post">
                        <section>
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="请输入用户名" data-bind="value:UserName">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" placeholder="请输入密码" data-bind="value:PassWord">
                                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                            </div>
                        </section>
                        <!--<section class="controls">
                          <div class="checkbox check-transparent">
                            <input type="checkbox" value="1" id="remember" checked>
                            <label for="remember">Remember me</label>
                          </div>
                          <a href="#">Forget password?</a>
                        </section>-->
                        <section class="log-in">
                            <input type="button" class="btn btn-greensea" value="登入后台" data-bind="click:events.submitForm" />
                            <span>or</span>
                            <input type="button" class="btn btn-greensea" value="返回首页" />
                        </section>
                    </form>
                </div>


            </div>
            <!-- /Page content -->
        </div>
    </div>
    <!-- Wrap all page content end -->
    <script type="text/javascript">
        seajs.config({
            base: "/public/js/viewmodels/",
            alias: {}
        })
        seajs.use("login");
    </script>

</body>
</html>

