@{
    Layout = "_Layout.cshtml";
    ViewBag.Icon = "cog";
    ViewBag.Title = "站点设置";
}
@section script{
    <style type="text/css">
        .tab-content {
            min-height: 400px;
        }

        #tab2, body #content div.radio.radio-transparent input[type=radio]:checked + label, body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio]:checked + label, body #content div.radio.radio-transparent label, body #content .modal .modal-dialog .modal-content div.radio.radio-transparent label {
            color: #000;
        }


        div.tagsinput {
            border: 1px solid #CCC;
            background: #FFF;
            padding: 5px;
            width: 300px;
            height: 100px;
            overflow-y: auto;
        }

            div.tagsinput span.tag {
                border: 1px solid #a5d24a;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                display: block;
                float: left;
                padding: 5px;
                text-decoration: none;
                background: #cde69c;
                color: #638421;
                margin-right: 5px;
                margin-bottom: 5px;
                font-family: helvetica;
                font-size: 13px;
            }

                div.tagsinput span.tag a {
                    font-weight: bold;
                    color: #82ad2b;
                    text-decoration: none;
                    font-size: 11px;
                }

            div.tagsinput input {
                width: 80px;
                margin: 0px;
                font-family: helvetica;
                font-size: 13px;
                border: 1px solid transparent;
                padding: 5px;
                background: transparent;
                color: #000;
                outline: 0px;
                margin-right: 5px;
                margin-bottom: 5px;
            }

            div.tagsinput div {
                display: block;
                float: left;
            }

        .tags_clear {
            clear: both;
            width: 100%;
            height: 0px;
        }
    </style>
    <script type="text/javascript">
        var key = "@Model";
        seajs.use("setting");
    </script>
}
<div class="row">
    <section id="rootwizard" class="tabbable transparent tile">

        <!-- /tile header -->
        <!-- tile widget -->
        <div class="tile-widget nopadding color transparent-black rounded-top-corners">
            <ul class="nav nav-tabs tabdrop">
                <li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-th-list"></i> <span class="badge"></span></a><ul class="dropdown-menu"></ul></li>

                <li class="active"><a href="#tab1" data-toggle="tab">基本设置</a></li>

                <li><a href="#tab2" data-toggle="tab">SMTP设置</a></li>


            </ul>
        </div>
        <!-- /tile widget -->
        <!-- tile body -->
        <div class="tile-body">
            <form class="form-horizontal form1" id="addForm" role="form" parsley-validate="">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="title">
                                网站标题
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" data-bind="value:title">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="keyWord">
                                关键字
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="keyWord" class="form-control" data-bind="value:keyWord">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="description">
                                网站描述
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="description" class="form-control" data-bind="value:description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="adminPath">
                                后台管理路径
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="adminPath" class="form-control" data-bind="value:adminPath">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="email">
                                Email
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="email" class="form-control" data-bind="value:email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="status">
                                网站状态
                            </label>
                            <div class="col-sm-10">
                                <div class="onoffswitch greensea">
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="status" data-bind="checked:status">
                                    <label class="onoffswitch-label" for="status">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="verifyCode">
                                验证码
                            </label>
                            <div class="col-sm-10">
                                <div class="onoffswitch greensea">
                                    <input type="checkbox" name="verifyCode" class="onoffswitch-checkbox" id="verifyCode" data-bind="checked:verifyCode">
                                    <label class="onoffswitch-label" for="verifyCode">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="tab2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="smtplSrvStatus">
                                开启状态
                            </label>
                            <div class="col-sm-10">
                                <div class="onoffswitch greensea">
                                    <input type="checkbox" name="smtplSrvStatus" class="onoffswitch-checkbox" id="smtplSrvStatus" data-bind="checked:smtplSrvStatus">
                                    <label class="onoffswitch-label" for="smtplSrvStatus">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="smtpSrvAddr">
                                SMTP服务器
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="smtpSrvAddr" class="form-control" data-bind="value:smtpSrvAddr">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="smtpFormAddr">
                                发件人邮箱地址
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="smtpFormAddr" class="form-control" data-bind="value:smtpFormAddr">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="smtpUserName">
                                验证用户名字
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="smtpUserName" class="form-control" data-bind="value:smtpUserName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="smtpPassWord">
                                密码
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="smtpPassWord" class="form-control" data-bind="value:smtpPassWord">
                            </div>
                        </div>


                    </div>



                </div>
            </form>
        </div>
        <!-- /tile body -->
        <!-- tile footer -->
        <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="button" class="btn btn-primary" value="保存数据" data-bind="click:events.submitForm" />
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
        <!-- /tile footer -->
    </section>


</div>
