@{
    Layout = "_Layout.cshtml";
    ViewBag.Icon = "table";
    ViewBag.Title = "主题管理";
}
@section script{
    <script type="text/javascript">
        seajs.use("themeitem");
    </script>
    <script src="~/public/assets/js/ztree/jquery.ztree.core.js"></script>
    <link href="~/public/assets/css/ztree/demo.css" rel="stylesheet" />
    <link href="~/public/assets/css/ztree/zTreeStyle/zTreeStyle.css" rel="stylesheet" />

    <link href="~/public/js/modules/context/context.bootstrap.css" rel="stylesheet" />

    <link href="~/public/js/modules/context/context.standalone.css" rel="stylesheet" />
}
<div class="row">
    <ul id="treeDemo" class="ztree"></ul>
</div>