@{
    Layout = "_Layout.cshtml";
    ViewBag.Icon = "edit";
    ViewBag.Title = "文章管理";
}
@section script{
    <style type="text/css">
        #articlescontent li div.content {
            min-width: 500px;
        }

        .timelink {
            color: white;
            text-decoration: none;
        }

            .timelink:hover, .timelink:visited {
                color: red;
                text-decoration: none;
            }
    </style>
    <script type="text/javascript">
        seajs.use("articlelist");
    </script>
}
<div class="row">
    <section class="tile transparent no-shadow">

        <h1 class="timeline-heading">
            <a href="#modalConfirm" class="timelink" data-toggle="modal"><strong data-bind="html:events.headerShow"></strong></a>
        </h1>

        <ol id="articlescontent" class="timeline timeline-mini"></ol>

        <h1 class="timeline-heading"><a href="javascript:;" class="timelink"><strong data-bind="html:events.footerShow,click:events.loadNext"></strong></a></h1>
    </section>



    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                    <h3 class="modal-title" id="modalConfirmLabel"><strong>数据筛选</strong></h3>
                </div>
                <div class="modal-body">
                    <form id="filterForm" role="form" class="form-horizontal">

                        <div class="form-group">
                            <label for="exampleInput">关键字</label>
                            <input type="text" class="form-control" id="keyWord" name="keyWord" data-bind="value:keyWord">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">标签</label>
                            <input type="text" class="form-control" id="_tagName" name="_tagName" data-bind="value:_tagName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">分类</label>
                            <select id="categoryId" name="categoryId" class="chosen-select chosen-transparent form-control" data-bind="options:categorySource,optionsText:'name',optionsValue:'id',value:categoryId,optionsCaption:'所有'"></select>
                        </div>
                        <div>
                            <input type="hidden" id="pageIndex" name="pageIndex" data-bind="value:pageIndex" />
                            <input type="hidden" id="pageSize" name="pageSize" data-bind="value:pageSize" />
                            <input type="hidden" id="status" name="status" data-bind="value:status" />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-red" data-dismiss="modal" aria-hidden="true" value="关闭" />
                    <input type="button" class="btn btn-green" data-dismiss="modal" value="搜索" data-bind="click:events.filter" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script id="articletemplete" type="text/html">
        <%for(var i in list){%>
        <li class="color transparent-black">
            <div class="pointer slategray">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="el-container">
                <div class="content">
                    <span class="time"><i class="fa fa-clock-o"></i> <%=formatDate(list[i].createTime)%></span>
                    <h1><%=list[i].title%></h1>
                    <p><%=list[i].Description%></p>
                </div>
            </div>
        </li>
        <%}%>

    </script>

</div>