<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web.webPages.razor>
    <pages pageBaseType="MetroBlog.Template.Razor.WebTemplate>">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="MetroBlog.Core" />
      <add assembly="MetroBlog.Web" />
      <add assembly="MetroBlog.Settings" />
    </assemblies>
    <namespaces>
      <add namespace="System.Collections.Generic" />
      <add namespace="System.Linq" />
    </namespaces>
  </razor>
</configuration>
