<?xml version="1.0" encoding="utf-8" ?>
<setting>
  <collection name="畅言秘钥">
    <item display="开启状态" name="status" dateType="System.Boolean" itemType="RADIO" default="True"/>
    <item display="APP ID" name="appId" dateType="System.String" itemType="INPUT"/>
    <item display="APP KEY" name="appKey" dateType="System.String" itemType="INPUT"/>
  </collection>
</setting>