<?xml version="1.0" encoding="utf-8" ?>
<setting>
  <collection name="基本设置">
    <item display="站点地址" name="site_url" dateType="System.String" ItemType="INPUT" default="http://www.newguid.cn"/>
    <item display="标题" name="site_title" dateType="System.String" ItemType="INPUT"/>
    <item display="关键字" name="site_keyWord" dateType="System.String" ItemType="TEXTARE"/>
    <item display="站点描述" name="site_desc" dateType="System.String" ItemType="TEXTARE"/>
  </collection>
  <collection name="邮箱设置">
    <item display="邮件" name="email" dateType="System.String" ItemType="INPUT"/>
  </collection>
</setting>