@using MetroBlog.Core;
@using MetroBlog.Core.Model.ViewModel;
@using MetroBlog.Core.Model.QueryModel;
@using MetroBlog.Core.Common;
@{

    Layout = "_Layout.cshtml";
}
<div class="posts">
    @ViewBag.Error
    发生了一些错误
</div>