@using MetroBlog.Core;
@using MetroBlog.Core.Model.ViewModel;
@using MetroBlog.Core.Model.QueryModel;
@using MetroBlog.Core.Common;
@{

    Layout = "_Layout.cshtml";
}
<div style="margin-top:45%;">
    @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
</div>